/* product-card-new-price */
.product-card-new-price {
  position: relative;

  width: 141px;
  padding: 10px 29px 10px 29px;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;

  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;


  color: #ffffff;
  background-color: #EE3643;
  background-image:
    linear-gradient(
      to left,
      #ffffff 0,
      #ffffff 19px,
      #EE3643 19px,
      #EE3643 100%
    );
}

.product-card-new-price:before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  content: "";
  border: 19px solid transparent;
  border-left-color: #EE3643;
  border-right: 0;
}

/* image*/
.image {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: flex-start;

  overflow: hidden;
}

.image__content {
  width: 100%;
  height: auto;
}

/* product-card-old-price */
.product-card-old-price {
  margin-top: 0;
  margin-bottom: 0;

  position: relative;
  color: #A9A9A9;
  background-color: #ffffff;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  text-transform: uppercase;
}

.product-card-old-price:before {
  content: "";
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: 1px;

  background-color: #A9A9A9;
}

/* product-card-links-sale */
.product-card-links-sale {
  margin: 0;
  padding: 38px 44px 20px 41px;
  box-sizing: border-box;
  list-style: none;

  align-self: stretch;
}

.product-card-links-sale__item {
  margin-bottom: 10px;
}

.product-card-links-sale__item:last-of-type {
  margin-bottom: 0;
}

/* product-card */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;
  background-color: #ffffff;

  box-shadow: 0 0 0 1px #EAEAEA;
}

.product-card--new {
  position: relative;
}

.product-card--new:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 70px;

  background-image: url(../img/icon-new.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.product-card:hover {
  box-shadow:
    0 0 0 1px #EAEAEA,
    0 0 20px 0 #EAEAEA
  ;
}

.product-card:hover .product-card__links-sale {
  position: static;
  z-index: 0;
}

.product-card:hover .product-card__image {
  position: absolute;
  z-index: -100;
}

.product-card__image {
  position: static;

  width: 218px;
  height: 157px;

  margin-bottom: auto;
}

.product-card__wrap-texts {
  min-height: 156px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  padding: 20px 30px;
  box-sizing: border-box;
}

.product-card__links-sale {
  position: absolute;
  z-index: -100;

  min-height: 157px;
  margin-bottom: auto;
}

.product-card__title {
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 0;
  margin-bottom: auto;

  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.product-card__old-price {
  margin-bottom: 13px;
}

.product-card__new-price {}

/* header-popular */
.header-popular {
  display: flex;
  flex-wrap: wrap;
  padding: 29px 14px 30px 28px;

  color: #32425C;
  background-color: #F9F5F0;
}

.header-popular__title {
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.header-popular__more-link {
  padding: 11px 24px;
}

/* services-text */
.services-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 21px;
  line-height: 30px;

  color: #32425C;
}

.services-text--color-dark {
  color: #000000;
}

.services-text--color-light {
  color: #ffffff;
}

.services-text--big {
  font-size: 30px;
  line-height: 30px;
}

.services-text--size-small {
  font-size: 13px;
  line-height: 24px;
}

/* services-slider-toggles-list */
.services-slider-toggles-list {
  position: relative;
  margin: 0;
  padding: 40px 0 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.services-slider-toggles-list:before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/services-slider-toggles-list__shadow.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.services-slider-toggles-list__item {
  display: flex;
  min-height: 61px;
}

.services-slider-toggles-list__lead {
  padding-left: 22px;

  display: flex;
  align-items: center;

  flex-grow: 1;

  color: #ffffff;
  background-color: #32425C;
  box-shadow: 0 -2px 0 #293449, inset 0 1px 0 #405069;
}

.services-slider-toggles-list__lead:hover {
  background-color: #293449;
}

/* services-slider */
.services-slider {
  display: flex;
  min-height: 284px;
}

.services-slider__content {
  display: flex;
  flex-wrap: wrap;
}

.services-slider__toggles-list {
  width: 240px;
  margin-right: 80px;

}

.services-slider__slides-list {

}

/*Слайдер на css: services-slider*/
#services-slider-1:checked ~ .services-slider__content #services-slider-toggle-1,
#services-slider-2:checked ~ .services-slider__content #services-slider-toggle-2,
#services-slider-3:checked ~ .services-slider__content #services-slider-toggle-3 {
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  color: #32425C;
}

#services-slider-1:checked ~ .services-slider__content #services-slide-1,
#services-slider-2:checked ~ .services-slider__content #services-slide-2,
#services-slider-3:checked ~ .services-slider__content #services-slide-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#services-slider-1:checked ~ .services-slider__content .services-slides-list__inner {
  transform: translateY(0);
  transition: transform 0.6s;
}

#services-slider-2:checked ~ .services-slider__content .services-slides-list__inner {
  transform: translateY(-284px);
  transition: transform 0.6s;
}

#services-slider-3:checked ~ .services-slider__content .services-slides-list__inner {
  transform: translateY(-568px);
  transition: transform 0.6s;
}

.services-slides-list {
  margin-top: 40px;
  width: 620px;
  height: 284px;
  overflow: hidden;
}

.services-slides-list__inner {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.services-slides-list__item {
  width: 620px;
  height: 284px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(../img/services-slides-list__car.png);
}

.services-slides-list__item:nth-of-type(2) {
  background-image: url(../img/services-slides-list__seal.png);
}

.services-slides-list__item:nth-of-type(3) {
  background-image: url(../img/services-slides-list__securities.png);
}

.services-slides-list__item--slide-one {}
.services-slides-list__item--slide-two {}
.services-slides-list__item--slide-three {}

.services-slides-list__item-text-content {
  width: 313px;
}

.services-slides-list__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.services-slides-list__lead {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;

  color: #32425C;
}

.services-slides-list__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* services */
.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  color: #000000;
  background-color: #F1F5F7;

  padding-top: 64px;
}

.services__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  color: #000000;
  text-transform: uppercase;
}

.services__intro {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.services__texts-column {
  width: 400px;
  margin-bottom: 70px;
}

/* about-company */
.about-company {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.about-company__texts-wrap {
	margin-bottom: 26px;
}

.about-company__lead {
	margin-top: 0;
	margin-bottom: 24px;

	font-size: 30px;
	line-height: 30px;

	text-transform: uppercase;

	color: #000000;
}

.about-company__intro {
	margin-top: 0;
	margin-bottom: 0;

	font-family: "PT Sans", 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;

	color: #000000;
}

.about-company__delivery {
	width: 400px;
}

.about-company__delivery-intro {
	margin-top: 0;
	margin-bottom: 0;

	font-family: "PT Sans", 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;

	color: #000000;
}

.about-company__delivery-list {
	padding: 0;
	list-style: none;

	margin: 0 0 20px;
}

.about-company__delivery-list-item {
	position: relative;
	padding-left: 37px;
	margin-bottom: 12px;
}

.about-company__delivery-list-item:last-of-type {
	margin-bottom: 0;
}

.about-company__delivery-list-item:before {
	content: "";

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	width: 25px;
	height: 2px;

	background-color: #EE3643;
}

.about-company__delivery-list-item-text {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 18px;
	line-height: 24px;

	color: #000000;
}

/* main-row-bottom */
.main-row-bottom {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}

.main-row-bottom__about-company {
	width: 460px;
}

.main-row-bottom__column-contacts {
	width: 300px;
}

/* brands-popular */
.brands-popular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.brands-popular__brand-list {}

/* popular */
.goods-popular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.goods-popular__header {
  margin-bottom: 20px;
}

/* brand-list */
.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.brand-list__item {
  margin-right: 20px;

  width: 220px;
  min-height: 145px;
}

.brand-list__item:nth-of-type(n + 5) {
  margin-top: 20px;
}

.brand-list__item:nth-of-type(4n) {
  margin-right: 0;
}

/* brand-card */
.brand-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brand-card__logo-link {
  box-shadow: 0 0 0 1px #EAEAEA;
}

.brand-card__logo-link:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-card__logo-link:active {
  opacity: 0.5;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* product-list */
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list__item {
  margin-right: 20px;

  width: 220px;
  min-height: 318px;
}

.product-list__item:nth-of-type(4n) {
  margin-right: 0;
}

.product-list__item:nth-of-type(n + 5) {
  margin-top: 18px;
}

/* слайдер на css*/
#slider-bullet-1:checked ~ .slider-bullets-list .slider-bullet--one {
  background-color: #EE3643;
  box-shadow: inset 0 0 0 2px #ffffff;
}

#slider-bullet-1:checked ~ .site-nav-slider__slide-list-wrap .slide-slider {
  transform: translate(0);
  transition: transform 0.6s
}

#slider-bullet-2:checked ~ .slider-bullets-list .slider-bullet--two {
  background-color: #EE3643;
  box-shadow: inset 0 0 0 2px #ffffff;
}

#slider-bullet-2:checked ~ .site-nav-slider__slide-list-wrap .slide-slider {
  transform: translate(620px);
  transition: transform 0.6s
}

/* slider-bullet */
.slider-bullet {
  display: flex;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #ffffff;
}

.slider-bullet--active {
  background-color: #EE3643;
  box-shadow: inset 0 0 0 2px #ffffff;
}

/* slider-button */
.slider-button {
  display: flex;

  width: 40px;
  height: 40px;

  background-image: url(../img/slider-button__icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-button--next {}

.slider-button--back {
  transform: rotate(180deg);
}

/* button */
.button {
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;

  font-style: normal;
  font-weight: normal;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: #FFFFFF;
  background-color: #EE3643;
}

.button:active {
  background-color: #BA2732;
}

.button--theme-buy {
  padding: 10px 40px 10px 30px;
  border-radius: 2px;

  color: #ffffff;
  background-color: #63A63E;
  box-shadow: inset 0 -3px 0 #367315;
}

.button--theme-buy:hover {
  background-color: #5FBB2D;
}

.button--theme-buy:active {
  background-color: #518534;
}

.button--theme-buy:before {
  content: "";
  margin-right: 9px;
  flex-shrink: 0;

  width: 15px;
  height: 15px;

  opacity: 0.3;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.button--theme-white {
  padding: 9px 33px;
  border-radius: 2px;

  color: #32425C;
  background-color: #ffffff;

  box-shadow: inset 0 0 0 3px #63A63E;
}

.button--theme-white:hover {
  color: #32425C;
  background-color: #ffffff;

  box-shadow: inset 0 0 0 3px #32425C;
}

.button--theme-white:active {
  color: #32425C;
  background-color: #ffffff;

  opacity: 0.5;

  box-shadow: inset 0 0 0 3px #32425C;
}

/*slide-slider-text*/
.slide-slider-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #FFFFFF;
}

.slide-slider-text--size {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  text-transform: uppercase;
}

/* slide-slider */
.slide-slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 23px 24px 27px;

  background-color: rgba(0, 0, 0, 0.25);
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25) 104px,
      transparent 104px,
      transparent 100%
    ),
    url(../img/slide-slider--number-one.jpg);
  background-repeat: no-repeat, no-repeat;
}

.slide-slider--number-two {
  background-image: url(../img/slide-slider--number-two.jpg);
}

.slide-slider__text-wrap {
  margin-bottom: auto;
}

.slide-slider__lead {
  margin-bottom: 5px;
}

.slide-slider__lead-intro {}

.slide-slider__link {
  align-self: flex-start;
  padding: 11px 46px 9px;
}

/* slider-bullets-list */
.slider-bullets-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.slider-bullets-list__item {
  margin-right: 10px;
}

.slider-bullets-list__item:last-of-type {
  margin-right: 0;
}

.slider-bullets-list__link {}

/* slider-buttons-list */
.slider-buttons-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* slide-list */
.slide-list {
  width: 1240px;
  height: 266px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.slide-list--slide-1 {
  transform: translate(0);
}

.slide-list--slide-2 {
  transform: translate(-620px);
}

.slide-list__item {
  width: 620px;
}

/* site-nav-slider */
.site-nav-slider {
  position: relative;
}

.site-nav-slider__bullets {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 36px;
  transform: translateX(-50%);
}

.site-nav-slider__buttons {
  position: absolute;
  top: 122px;
  left: 15px;
  right: 15px;
  z-index: 10;
}

.site-nav-slider__slide-list {}

/* site-nav-card-link */
.site-nav-card-link {
  padding: 10px 23px;

  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
}

.site-nav-card-link:hover {
  color: #ffffff;
  background-color: rgba(197, 197, 197, 0.3);
}

.site-nav-card-link:active {
  color: #ffffff;
  background-color: rgba(169, 169, 169, 0.3);
}

/* site-nav-card */
.site-nav-card {
  padding: 20px 87px 21px 23px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #ffffff;
  background-color: #FFBF47;

  background-image: url(../img/site-nav-card__icon-bucket.svg);
  background-repeat: no-repeat;
  background-position: right 43px top 31px;
}

.site-nav-card--new {
  position: relative;
}

.site-nav-card--new:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;

  width: 70px;
  height: 70px;

  background-image: url(../img/site-nav-card__icon-new.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.site-nav-card--icon-drill {
  padding-right: 106px;
  background-image: url(../img/site-nav-card__icon-drill.svg);
  background-position: right 31px top 34px;
}

.site-nav-card--icon-tractor {
  padding-right: 104px;
  background-image: url(../img/site-nav-card__icon-tractor.svg);
  background-position: right 31px top 31px;
}

.site-nav-card--icon-basket {
  padding-right: 104px;
  background-image: url(../img/site-nav-card__icon-basket.svg);
  background-position: right 45px top 26px;
}

.site-nav-card--icon-car {
  padding-right: 109px;
  background-image: url(../img/site-nav-card__icon-basket.svg);
  background-position: right 31px top 32px;
}

.site-nav-card--color-blue {
  background-color: #3BBCE3;
}

.site-nav-card--color-violet {
  background-color: #DC91D8;
}

.site-nav-card--color-green {
  background-color: #8ED78F;
}

.site-nav-card__lead {
  margin-top: 0;

  margin-bottom: 14px;
}

.site-nav-card__link {}

.site-nav-card__lead {}
.site-nav-card__link {}

/* site-nav-cards-list */
.site-nav-cards-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.site-nav-cards-list--direction {
  flex-direction: column;
}

.site-nav-cards-list--direction .site-nav-cards-list__item:nth-of-type(2n + 1) {
  margin-right: 0;
}

.site-nav-cards-list--direction .site-nav-cards-list__item {
  margin-bottom: 20px;
}

.site-nav-cards-list--direction .site-nav-cards-list__item:last-of-type {
  margin-bottom: 0;
}

.site-nav-cards-list__item {
  min-width: 300px;
}

.site-nav-cards-list__item:nth-of-type(2n + 1) {
  margin-right: 20px;
}

/* site-nav */
.site-nav {
  display: flex;
  flex-wrap: wrap;
}

.site-nav__col:nth-of-type(2n + 1) {
  margin-right: 20px;
}

.site-nav__slider {
  width: 620px;
  height: 266px;

  overflow: hidden;
}

.site-nav__col {}

.site-nav__first-cards-list {
  min-width: 620px;
  margin-bottom: 20px;
}

.site-nav__second-cards-list {}

/* workout */
.workout {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

/* footer-bottom-link */
.footer-bottom-link {
  color: #FFD180;
}

.footer-bottom-link:hover {
  text-decoration: underline;
}

.footer-bottom-link:active {
  color: #EE3643;
  text-decoration: none;
}

/* site-navigation-link */
.site-navigation-link {
  font-size: 18px;
  line-height: 24px;

  color: #F1F5F7;
  background-color: #32425C;
}

.site-navigation-link:hover {
  text-decoration: underline;
}

.site-navigation-link:active {
  opacity: 0.5;
}

.site-navigation-link--color {
  color: #ffd180;
}

/* feedback */
.feedback {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.feedback__text {}

.feedback__email {}

/* social-link */
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center center;

  background-color: #212A3A;
}

.social-link:hover {
  background-color: #EE3643;
}

.social-link--icon-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-link--icon-insta {
  background-image: url(../img/icon-insta.svg);
}

/* inner */
.inner {
  padding-left: 15px;
  padding-right: 15px;

  width: 940px;
  margin: 0 auto;
}

/* copyright */
.copyright {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

/* footer-social-list */
.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.footer-social-list__item {
  margin-right: 4px;

  display: flex;
}

.footer-social-list__item:last-of-type {
  margin-right: 0;
}

/* site-navigation-list */
.site-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  color: #F1F5F7;
  background-color: #32425C;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.site-navigation-list__item {
  display: flex;
}

.site-navigation-list__item:last-of-type {
  margin-right: 0;
}

.site-navigation-list__link {
  padding: 17px 0;
}

/* address */
.address {
  color: #F3F7F9;
  background-color: #32425C;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

/* phone */
.phone {
  color: #F3F7F9;
  background-color: #32425C;

  font-size: 18px;
  line-height: 24px;
}

.logo-technomart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE3643;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),  0 5px 0 0 #EE3643;
}

.logo-technomart:active {
  color: #ffffff;
  background-color: #BA2732;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),  0 5px 0 0 #BA2732;
}

/* wrapper */
.wrapper {
  width: 100%;
  color: #f3f7f9;
  background-color: #32425C;
}

.wrapper--color-dark {
  background-color: #293449;
}

.wrapper--color-light {
  background-color: #F1F5F7;
}

/* icon-enter */
.icon-enter {
  width: 20px;
  height: 17px;

  background-color: #ffffff;
  background-image: url(../img/icon-login--gray.svg);
  background-repeat: no-repeat;
}

.icon-enter:hover {
  background-image: url(../img/icon-login--dark.svg);
}

/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*tag a*/
a {
  text-decoration: none;
  color: inherit;
}

/* input */
.input {
  padding: 8px;
  border: none;
  box-sizing: border-box;

  color: inherit;
  font: inherit;
  background-color: inherit;
}

.input::placeholder {
  color: #ffffff;
}

/* header */
.header {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0001);
}

.header__wrapper {
  width: 100%;
  background-color: #F3F7F9;
}

.header__wrapper--color {
  background-color: #293449;
}

.header__top-item {
  width: 940px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  color: #ffffff;
  background-color: #293449;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__logo {
  width: 220px;
  min-height: 42px;

  padding-right: 57px;
  padding-left: 55px;
  box-sizing: border-box;
}

.header__search-form {
  position: relative;

  flex-grow: 1;
  display: flex;
}

.search-form__field {
  margin-top: 0;
  margin-bottom: 0;

  flex-grow: 1;

  display: flex;
}

.header__search-form-field {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
}

.header__search-form-field:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: red;
}

.header__search-form-input {
  flex-grow: 1;

  padding-left: 42px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: left 17px center;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__search-form-input:hover {
  background-image: url(../img/icon-search--hover.svg);
}

.header__search-form-input:focus {
  background-image: url(../img/icon-search--focus.svg);

  color: #000000;
  background-color: #fff;
}

.header__shopping-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.header__shopping-menu-item {
  display: flex;
}

.header__shopping-menu-item:hover .header__bookmarks-link:before {
  opacity: 1;
}

.header__shopping-menu-item:hover .header__basket-link:before {
  opacity: 1;
}

.header__bookmarks-link {
  padding-left: 9px;
  padding-right: 26px;

  display: flex;
  align-items: center;
}

.header__bookmarks-link:before {
  content: "";
  width: 14px;
  height: 16px;
  padding-left: 20px;

  opacity: 0.3;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header__basket-link {
  padding-left: 8px;
  padding-right: 26px;

  display: flex;
  align-items: center;
}

.header__basket-link:before {
  content: "";
  width: 15px;
  height: 15px;
  padding-left: 20px;

  opacity: 0.3;

  background-image: url(../img/icon-basket.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header__checkout-link {
  padding-left: 19px;
  padding-right: 16px;

  display: flex;
  align-items: center;

  background-color: #63A63E;
}

.header__checkout-link:hover {
  color: #ffffff;
  background-color: #5FBB2D;
}

.header__checkout-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #63A63E;
}

.header__middle-item {
  width: 940px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  padding-top: 42px;
  padding-bottom: 40px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;

  margin-right: 93px;
  max-width: 300px;
  padding-left: 30px;

  color: #EE3643;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.header__contact {
  max-width: 300px;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  margin-top: 0;
  margin-bottom: 3px;

  padding: 7px 45px 8px 74px;

  color: #EE3643;
  background-color: #F3F7F9;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: left 35px center;

  box-shadow: inset 0 0 0 3px #ffffff;
}

.header__address {
  margin-top: 0;
  margin-bottom: 0;

  color: #32425C;

  display: flex;
  align-items: center;
  text-align: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.header__user-menu {
  width: 300px;

  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
}

.header__user-menu-login-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__user-menu-login-item {
  min-height: 45px;
  margin-right: 7px;

  display: flex;

  background-color: #ffffff;
}

.header__user-menu-login-item:last-of-type {
  margin-right: 0;
}

.header__user-menu-account-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__user-menu-account-list--hidden {
  visibility: hidden;
}

.header__user-menu-account-item {
  display: flex;
  align-items: center;

  background-color: #ffffff;
}

.header__user-menu-name-link {
  display: flex;
  min-height: 45px;

  padding-left: 15px;
  padding-right: 10px;
}

.header__user-menu-name-text {
  display: flex;
  align-items: center;

  padding-left: 41px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.header__login-link-exit {
  padding-left: 10px;
  padding-right: 17px;
  background-position: right 17px center;
}

.header__login-name:hover {
  background-image: url(../img/icon-user--dark.svg);
}

.header__login-link {
  padding: 0 27px 0 45px;

  display: flex;
  align-items: center;

  background-image: url(../img/icon-login--dark.svg);
  background-repeat: no-repeat;
  background-position: left 19px center;
}

.header__login-link:hover {
  color: #EE3643;
  background-color: #ffffff;

  background-image: url(../img/icon-login--gray.svg);
}

.header__login-link:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.header__registration-link {
  padding: 12px 24px;
}

.header__bottom-item {
  width: 940px;
  margin: 0 auto;

  padding-bottom: 60px;
}

.header__registration-link:hover {
  color: #EE3643;
  background-color: #ffffff;
}

.header__registration-link:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.header__site-navigation {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  color: #ffffff;
  background-color: #32425C;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0 -5px 0 #293449;
}

.header__site-navigation-item {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header__page-link {
  flex-grow: 1;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 20px;
}

.header__page-link:hover {
  color: #ffffff;
  background-color: #293449;
}

.header__page-link:focus {
  color: #ffffff;
  background-color: #293449;
}

.header__page-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1D2739;
}

/* main */
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main__site-nav {
  margin-bottom: 59px;
}

.main__popular-goods {
  margin-bottom: 70px;
}

.main__brands {
  margin-bottom: 70px;
}

.main__slider-services {}

.brands-popular__header {
  margin-bottom: 20px;
}

.main__row-bottom {}

/* main-empty */
.main-empty {
  display: flex;
  height: 100%;
}

.main-empty__title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 42px;
  margin: 0 auto;

  color: #32425C;
}

/* footer-top */
.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-top__column {
  width: 380px;
  margin-right: auto;
}

.footer-top__site-navigation {
  margin-top: 20px;
  width: 560px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;

  color: #FFFFFF;
  background-color: #293449;

  font-size: 16px;
  line-height: 18px;
}

.footer-bottom__copyright {
  margin-right: 90px;
  width: 300px;
}

.footer-bottom__social-list {
  padding: 0;
  margin: 0 auto 0 0;
  list-style: none;

  width: 220px;
}

.footer-bottom__column {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom__feedback {
  margin-right: auto;
}

.footer-bottom__workout {}

.footer-top__site-navigation-list-top {
  width: 549px;
}

.footer-top__site-navigation-list-bottom {
  width: 525px;
}

.footer-top__column {}

.footer-top__logo {
  padding: 20px 41px;
  margin-bottom: 17px;

  width: 138px;
  height: 23px;
}

.footer-top__address {}

.footer-top__phone {}

/* page */
.page {
  margin: 0;
  height: 100vh;

    display: flex;
    flex-direction: column;

    color: #000000;
    background-color: #ffffff;

    font-family: 'Cuprum', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.page__header {}

.page__mail {
  padding-top: 59px;
  padding-bottom: 70px;
}

.page__footer {
  margin-top: auto;
}

.page__footer-top {
  padding-bottom: 54px;
}

.page__footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
}

